@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

body {
  padding: 2rem;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;<a href="index.html">Home</a>
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bagel Fat One', cursive;
  letter-spacing: 0.085rem;
  color: rebeccapurple;
}

p, ul, ol, li {
  font-family: Helvetica, Sans;
  line-height: 2;
}

header {
  background: rebeccapurple;
  padding: 1rem;
  margin-bottom: 2rem;
}

header h1 {
  font-size: 3rem;
  line-height: 0;
  color: white;
  font-family: 'Bagel Fat One', cursive;
}

nav {
  display: flex;
  gap: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;

}

nav a {
  text-decoration: none;
  letter-spacing: 0.02rem;
}
nav a:hover {
  text-decoration: underline;
}

h3 {
  margin-bottom: .25rem;
  line-height: 1;
}

h3 + p {
  margin-top: 0;
  color: rgb(113, 113, 113);
}